.paginaConteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100vw;

  /*background: linear-gradient(180deg, #ffffff, rgb(48, 255, 245), #108600);*/
}



.primaryCard {
  display: flex;
  height: 75vh;
  padding: 1.5rem 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  border-radius: 1.5625rem;
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
  

}

.primaryCard h1 {
  font-family: var(--font-russo-one);
  font-size: 2.5rem;
  margin-bottom: 1rem;

}

@media (min-width: 300px) {
  .primaryCard {
    width: 90vw;
    background-color: white;

  }

}

@media (min-width: 600px) {
  .primaryCard {
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  .primaryCard {
    width: 40vw;
  }
}

button {
  /* Desativar efeitos padrão do button*/
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  font: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

}
button:hover {
  background: none;
  cursor: default;
}


button:disabled .botaoIcone {
    background-color: #66B2FF; 
    cursor: auto;
    opacity: 0.9;
}



.botaoPrimario {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2497F3;
  border-radius: 40px;
  width: 4rem;
  padding: 8px;
  font-family: var(--font-roboto-condensed);
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.botaoPrimario:hover{
  background: #0069D9;
  cursor: pointer;


}

.botoesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

.botaoTexto {
    border-radius: 1.875rem;
    background: #2497F3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 0.5rem 1.5rem;
    color: #FFF;
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.botaoTexto:hover {
    background: #1E7ACC;
    cursor: pointer;
}

.botaoTexto:disabled {
    background: #66B2FF;
    box-shadow: none;
    cursor: default;
}



.botaoIcone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2497F3;
    border-radius: 40px;
    height: 60px;
    width: 60px;
    padding: 5px;
}

.botaoIcone:hover {
    background-color: #1A78C2;
    cursor: pointer;
}

.botaoIcone img {
    width: 80%;
    height: 80%;
}

/* quando o botão pai estiver desabilitado, altere o fundo do ícone e o cursor */
.botoesContainer button:disabled .botaoIcone {
    background-color: #66B2FF; /* cinza claro */
    cursor: auto;
    opacity: 0.9;
}



.botaoNavegacaoIcone{
  display: flex;
  width: 3rem;
  padding: 0.8125rem 0.4375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 1.875rem;
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.botaoNavegacaoIcone:hover {
  background: #EDEDED;
  cursor: pointer;
}

button:disabled .botaoNavegacaoIcone {
  display: none;
  cursor: default;

}


