.container{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.container h3{
    font-family: var(--font-roboto);
    font-size: 1.25rem;
}

.resumoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0.75rem 0;

}

.botoesNavContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.detalhesDespesasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15vh;
    overflow-y: auto;
    border: 1px solid black;

}


.resumoContainer table {
    border-collapse: collapse;
    width: 100%;
    font-family: var(--font-roboto-condensed);
}

.resumoContainer table th, .resumoContainer table td {
    border: 1px solid black;
    padding: 0.25rem;
    text-align: center;
}

.resumoContainer table thead, .resumoContainer table tfoot {
    background-color: #38B6FF;
    font-weight: bold;
}

