.container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.resumoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
    overflow-y: auto;
  
}
.botoesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

.resumoContainer table {
    border-collapse: collapse;
    width: 100%;
    font-family: var(--font-roboto-condensed);
}

.resumoContainer table thead {
    border-collapse: collapse;
    width: 100%;
    background-color:#38B6FF;
}

.resumoContainer table th, .resumoContainer table td {
    border: 1px solid black;
    padding: 0.25rem;
    text-align: center;
    justify-content: center;
}

