.container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0.5rem;
}

.infoContainer h3 {
    font-family: var(--font-roboto-condensed);
    font-size: 1.3rem;
    
}

.infoContainer p {
    font-family: var(--font-roboto-condensed);
    font-size: 1.1rem;

}

.somatorioContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}


.pessoaNavContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}


.pessoaNavContainer > button {
    flex: 0 0 44px; 
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
}

.pessoaNavContainer > button img {
    width: 20px;
    height: 20px;
    display: block;
}


.nomePessoaContainer{
    flex: 1 1 auto;
    text-align: center;
    padding: 0 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
}

.formCamposContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    
}

.formCamposContainer input {
    display: flex;
    padding: 0.6rem 1.4rem;
    font-family: var(--font-roboto-condensed);


    border-radius: 2.5rem;
    border: 2px solid #CED4DA;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.despesaNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.botaoCancelaFinaliza{
    border-radius: 1.875rem;
    background: #2497F3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 0.5rem 2rem;
    color: #FFF;
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 1.25rem;
    font-weight: 400;   
    margin-top: 0.5rem;
}

.botaoCancelaFinaliza:hover {
    background: #1E7ACC;
    cursor: pointer;
}

.botaoCancelaFinaliza:disabled {
    background: #66B2FF; 
    box-shadow: none;
    cursor: default;
}

.botoesCancelaFinalizaContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .despesaNavContainer {
        width: 70%;
    }
    
    .somatorioContainer{
        width: 70%;
        margin-top: 2rem;
    }

    .pessoaNavContainer{
        width: 75%;
    }

    .botoesCancelaFinalizaContainer{
        width: 75%;
    }

    
}




