.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.mensagemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1rem;
    background-color: #FFCDCD;
    border-radius: 1.25rem;
    border: 1px solid #000;
    margin-top: 4rem;
}


.mensagemContainer p {
    color: black;
    font-family: var(--font-roboto);
    font-size: 1rem;
}


