.container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.mensagemContainer {
    display: flex;
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
    height: 100%;
    justify-content: center;
    font-family: var(--font-roboto);
    align-items: center;
}

.mensagemSucesso{
    border-radius: 1.25rem;
    border: 1px solid #000000;
    background: #B6FF9C;
    padding: 1rem;
    height: fit-content;


}


.botoesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .botoesContainer {
        width: 80%;
    }
}

