.container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

}

.avisoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.75rem;
    margin-top: 5rem;
}
.avisoContainer h3{
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.5rem;
}

.continuarTexto {
    font-family: var(--font-roboto);
    font-size: 1.25rem;
    font-weight: 500;
    
}

.mensagemContainer {
    display: flex;
    padding: 1rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.25rem;
    color: black;
    border: 1px solid #000;
    background: #FFCDCD;
    font-family: var(--font-roboto);
    line-height: 1.1rem;
}

.destaque{
    font-weight: 600;
}