.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.container h3 {
    color: black;
    font-family: var(--font-poppins);
    font-weight: 400;
}

.sucessoContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    
}

.mensagemSucessoContainer {
    display: flex;
    height: 3.125rem;
    padding: 2rem 0.75rem;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    border: 1px solid #000;
    background: #B6FF9C;
}

.mensagemSucessoContainer p {
    color: black;
    font-family: var(--font-roboto);
    font-size: 0.9rem;
    font-weight: 600;
    
}

.listaPessoasContainer {
    color: black;
    background-color: aquamarine;
    border-radius: 1rem;
    border: 1px solid #000000;
    height: 50%;
    width: 85%;
    overflow-y: auto;
    overflow-x: auto;
    padding-inline: 2.5rem;
    padding-block: 0.5rem;
    
}

.listaPessoasContainer ol {
    margin: 0;
    padding: 0;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.botoesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}