.container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}

.container h3{
    font-family: var(--font-roboto);
    font-size: 1.25rem;
}

.resumoContainer{
    height: 60%;
    overflow: auto;
    margin-top: 1rem;

}

.botoesNavMesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 0.25rem;
}

.resumoContainer table{
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-roboto-condensed);
    font-size: 0.9rem;


}



.resumoContainer table thead {
    border-collapse: collapse;
    width: 100%;
    background-color:#38B6FF;
}

.resumoContainer table th, .resumoContainer table td {
    border: 1px solid black;
    padding: 0.125rem;
    text-align: center;
    justify-content: center;
}

.resumoContainer table td {
    font-family: var(--font-poppins);
}

.resumoContainer table tfoot {
    font-weight: bold;
    background-color: #38B6FF;
}
