.container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

}

.destaque{
    font-weight: 600;
}

.confirmacaoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.confirmacaoContainer input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: var(--font-roboto);
    font-weight: 400;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 75%;

}

.mensagemContainer {
    display: flex;
    padding: 1rem 1rem;
    margin-top: 6rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.25rem;
    color: black;
    border: 1px solid #000;
    background: #FFCDCD;
    font-family: var(--font-roboto);
    line-height: 1.1rem;
}

.loadingContainer{
    margin-top: 5rem;
}