.container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

}

.resumoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 6rem;
}


.resumoContainer h3{
    font-family: var(--font-roboto-condensed);
    font-weight: 600;
    font-size: 1.25rem;
}
.detalhesContainer {
    display: flex;
    padding: 0.75rem 0.75rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.25rem;
    color: black;
    border: 1px solid #000;
    background: #B6FF9C;
    font-family: var(--font-roboto);
    line-height: 1.1rem;

}