:root {
  --color-primary: #efe9f4;
  --color-secondary: #ff6347;
  --foreground: #171717;
  --color-bg: #0a122a;
}

body{
  background: var(--color-bg);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;

}

a{
  color: var(--color-primary);
  text-decoration: none;
}