

.containerPrincipal{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.containerPrincipal h2 {
    color: black;
    font-family: var(--font-montserrat_semibold);
    font-weight: 600;
    font-size: 1.4rem;
}

.containerMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    margin-top: 2rem;
}