.titulo {
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(0, 0, 0);
    }
    text-align: center;
    margin-top: 20px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.botoesMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  
}
.botoesMenu button {
  width: 100%;
  background: #007BFF;
  padding: 0.75rem 1.25rem;
  border-radius: 2.5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background 0.2s;
  font-size: 1rem;
  color: white;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  
}

.botoesMenu button:hover {
  background: #0069D9;
  cursor: pointer;
}
