.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    font-family: var(--font-roboto);
    padding: 2rem;
    margin-top: 2rem;
}

.profilePicture{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    background-color: rgb(100, 100, 100);
    width: fit-content;
    border-radius: 75px;
    
}

.profilePictureContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}


.profilePicture img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profilePictureEdit {
    position: absolute;
    margin-left: 6rem;
    margin-top: 6rem;
    
}

.profilePictureEdit:hover{
    cursor: pointer;
}

.profileDetails{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.profileDetails span{
    background-color: #CFCFCF;
    padding: 0.25rem;
    width: 100%;
}

.profileActions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

}

.profilePictureChangeActionsContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    margin-top: 1rem;
}

.profilePictureChangeButton:hover{
    cursor: pointer;
}

.profilePictureChangeButtonIcon img{
    width: 3.3rem;
    height: 3.3rem;
    
}



.changePasswordLinkButton{
    font-size: 1rem;
    width: 50%;
    color: white;
    text-decoration: none;
    background-color: #11B5E4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.changePasswordLinkButton:hover{
    cursor: pointer;
    background-color: #0069D9;
}

.changePasswordLinkButton:focus{
    background-color: #0069D9;
}
