.navbar{
    width: 100%;
    height: 6vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw 0 2vw;
    background-color: lightblue;
}