.mensagemContainer{
    padding: 0.75rem 0.5rem;
    font-family: var(--font-roboto-condensed);
    font-size: 1rem;
}

.botaoFecharContainer{
    display: flex;
    flex-direction: row-reverse;
    height: 50%;
    margin: 5px;
}

.botaoFechar{
    border: none;
    background: none;
    padding: 0;
    cursor: auto; 
}

.botaoFechar span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


