.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 3rem;
}

.container h2 {
    color: black;
    font-family: var(--font-montserrat_semibold);
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.mensagemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1rem;
    background-color: #FFCDCD;

    border-radius: 1.25rem;
    border: 1px solid #000;
}

.mensagemContainer p {
    color: black;
    font-family: var(--font-roboto);
    font-size: 1rem;
}