.container {

    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    border-radius: 8;
    z-index: 9999;
    width: 75vw; /* TODO => Tornar isso responsivo para diferentes resoluções */
    border: 1px solid #000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.mensagemContainer {
    padding: 0.75rem 0.5rem;
    font-family: var(--font-roboto-condensed);
    font-size: 1rem;
}

.botaoFecharContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 50%;
    margin: 5px;
}

.botaoFechar {
    border: none;
    background: none;
    padding: 0;
    cursor: auto;
}

.botaoFechar span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (min-width: 600px) {
    .container {
        width: 50vw;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 33vw;
    }
}